 ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding: 0;
    background-color: aqua;
}
/* ul li a{
    background-color: burlywood;
} */

li{
    float: left;
}
li a{
    color: black;
    padding:  16px;
    margin:0;
    text-align: center;
    display: block;
    text-decoration: none;

}

li a:hover{
    background-color: maroon;
}
.main{
    display: block;

}

.one
{
    
 
    float: left;
                          


}
.two{

    
    float: left;

    
    
}

.main1{
    display:  block;

}

.one2
{

                 
    float: left;

}
.two3{
    
    float: left;
    
}
/* .main2{
    display:  block;

}

.one4
{
    margin-block-start: 0%;             
    text-align: left;

}
.two5{
    
    float: right;
    
} */

